#history {
    display: none;
    height: 70vh;
    background: #0D7FA9;
    padding: 5% !important;
    border-radius: 5px;
    overflow: auto;
}

#history p {
    color: #ffffff;
    font-size: 28px;
    text-align: right;
    font-family: Courier, monospace;
}

#history span {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    font-family: Courier, monospace;
}

.base {
    width: 320px;
    background: #0097CC;
    margin-top: 5vh;
    border: none;
}

.dentroBase {
    max-width: 90%;
    margin: auto;
}

.appName {
    color: #ffffff;
    text-align: left;
    font: normal normal bold 22px/27px Roboto;
}

.historyText {
    color: #ffffff;
    text-align: right;
    font: normal normal normal 22px/27px Roboto;
    cursor: pointer;
}

.maindisplay {
    background: #0D7FA9;
    color: #ffffff;
    height: 25vh;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    font-family: Courier, monospace;
    border-radius: 5px;
}

.maindisplay span {
    font-size: 22px;
}

.keys {
    margin: 7px;
    width: 21%;
    height: auto;
    background: #0D7FA9;
    color: #ffffff;
    padding: 5px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
    border: none;
}

.twoKey {
    width: 47%;
}

.left {
    margin-left: 0;
}

.right {
    margin-right: 0;
    float: right;
}

.red {
    background: #FF6869;
    opacity: 1;
}

.green {
    background-color: #86CE84; 
}

.voltar {
    width: 100%;
    margin: 15px 0;
    background: #0D7FA9;
    color: #ffffff;
    padding: 5px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    border-radius: 5px;
    border: none;
}